@import '~bootstrap/scss/bootstrap.scss';

.btn-orange {
  background-color: rgb(244, 67, 54);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
}

.btn-info {
  text-transform: uppercase;
  font-weight: bold;
}

.orange-light {
  color: rgb(255, 125, 103);
}

.orange-input {
  border: 1px solid rgb(244, 67, 54);
}
