@import '~bootstrap/scss/bootstrap.scss';

body {
  box-sizing: border-box;
}

.container {
  max-width: 1000px;
}

.btn-orange {
  background-color: rgb(244, 67, 54);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
}

.btn-info {
  text-transform: uppercase;
  font-weight: bold;
}

.link-orange {
  background-color: rgb(244, 67, 54);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  text-align: center;
  margin: 0 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover {
    color: rgb(33, 37, 41);
  }
}

.navbar-light .navbar-toggler {
  color: rgb(244, 67, 54);
  border-color: rgb(255, 125, 103);
}

.orange-light {
  color: rgb(255, 125, 103);
}

.orange-input {
  border: 1px solid rgb(244, 67, 54);
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(244, 67, 54);
}
input[type='range']::-moz-range-thumb {
  background: rgb(244, 67, 54);
}
input[type='range']::-ms-thumb {
  background: rgb(244, 67, 54);
}
input[type='range']:focus {
  outline: none !important;
}

.huf::after {
  text-align: center;
}

table th {
  background-color: #0fcaf0;
  text-align: center;
  vertical-align: inherit;
  border: 3px solid white;
}

table tr td {
  padding: 10px;
  vertical-align: inherit;
  font-weight: 400;
}
